{% extends 'base.html' %}
 {% load static %}
{% block content %}

    <div class="row">
        <div class="col-lg-6">
            <div class="box-element" id="form-wrapper">
                <form id="form">
                    
                    
                    <div id="shipping-info">
                       <br>
                        <p class="ml-1">Shipping Information:</p>
                        <hr>
                        <div class="form-field ml-1">
                            <input class="form-control" type="text" name="address" placeholder="Address..">
                        </div>
                        <div class="form-field ml-1">
                            <input class="form-control" type="text" name="city" placeholder="City..">
                        </div>
                        <div class="form-field ml-1">
                            <input class="form-control" type="text" name="state" placeholder="State..">
                        </div>
                        <div class="form-field ml-1">
                            <input class="form-control" type="text" name="pincode" placeholder="Pin code..">
                        </div>
                    </div>
                    <hr>
                    <input id="form-button" class="btn btn-success btn-block ml-1" type="submit" value="Continue">
                </form>
            </div>
            <br>
            <div class="box-element hidden" id="payment-info">
                <small>Paypal Options</small>
                <button class="ml-2" id="process_data">make payment</button>
            </div>
            
        </div>

        <div class="col-lg-6">
            <div class="box-element">
                <a  class="btn btn-outline-dark" href="{% url 'home' %}">&#x2190; Back to Home</a>
                <hr>
                <h3>Order Summary</h3>
                <hr>
              
                <div class="cart-row">
                    <div style="flex:2"><img class="row-image" src="{{item.product.imageURL}}"></div>
                    <div style="flex:2"><p>{{item.product.name}}</p></div>
                    <div style="flex:1"><p>${{item.product.price|floatformat:2}}</p></div>
                    <div style="flex:1">
                        <p class="quantity">x{{item.quantity}}</p>
                        <div class="quantity">
                            <img class="chg-quantity" src="{% static  'images/arrow-up.png' %}">
                    
                            <img class="chg-quantity" src="{% static  'images/arrow-down.png' %}">
                        </div>
                    </div>
                </div>
                
                <h5>Items:   {{item.quantity}}</h5>
                <h5>Total:   ${{item.get_total|floatformat:2}}</h5>
            </div>
        </div>
    </div>

    <script>
        digital = '{{digital}}'
        console.log(digital)
        if(digital == 'True')
        {
           document.getElementById('form-wrapper').classList.add('hidden')
           document.getElementById('form-button').classList.add('hidden')
           document.getElementById('payment-info').classList.remove('hidden')
           
        }
        else
        {
                var form = document.getElementById('form').addEventListener('submit',function(e){
                e.preventDefault()
                document.getElementById('form-button').classList.add('hidden')
                document.getElementById('payment-info').classList.remove('hidden')
           
            })
        };

        document.getElementById('process_data').addEventListener('click',function(){
               alert('order completed')
               buynow_order()
           })

           function buynow_order()
           {
            var form = document.getElementById('form') 
            console.log('processing data..')
            var total = {

                         'item_quantity': '{{item.quantity}}' , 
                         'item_total': '{{item.get_total}}',    
                         'product_id':'{{item.product.id}}' 
                        
                        }
            var ShippingInfo = {
                                   'address': 'null',
                                    'state': 'null',
                                    'city': 'null',
                                    'pincode': 'null'
                               }

            if (digital != 'True')
            {
                ShippingInfo.address = form.address.value
                ShippingInfo.state = form.state.value
                ShippingInfo.city = form.city.value
                ShippingInfo.pincode = form.pincode.value
            }
            
            var url = '/buynow_process/'
            fetch(url,{
            method:'POST',
            headers:{
                        'Content-Type':'application/json',
                        'X-CSRFToken': csrftoken ,
                    },
            body:JSON.stringify({'ShippingInfo':ShippingInfo, 'total':total })
            })

            .then((Response) => {
                return Response.json();
            })
            .then((data) => {
                window.location.replace("{% url 'home' %}")
            });
            


           }

    </script>

{% endblock %}