{%  extends 'base.html' %}
{% load static %}
{% block content %}

<br>
<h3 class="text-center">Order Summary</h3>
<br>
<br>
<div class="row">
	<div class="col-md-6">
		<h5 class="ml-5">Pending Orders</h5>
		<hr>
		<div class="card card-body">
			
            <table class="table table-sm">
				<tr>
					<th>Product</th>
					<th>Price</th>
                    <th>Quantity</th>
                    <th>Status</th>
                    <th>Remove</th>
                </tr>
                <tr>
                    <td>headphone</td>
					<td>$20</td>
                    <td>x2</td>
                    <td>out for deliver</td>
                    <td><a class="btn btn-sm btn-danger " href="#">Remove</a></td>
                </tr>

			</table>
		</div>
	</div>

	<div class="col-md-6">
		<h5 class="ml-4">Completed ORDERS</h5>
		<hr>
		<div class="card card-body">
			
			<table class="table table-sm">
				<tr>
                    
					<th>Product</th>
					<th>Date Orderd</th>
					<th>Quantity</th>
					
                </tr>
                <tr>
                   
					<td>headphone</td>
					<td>may 08,2020,11:30 am</td>
					
					<td>x2</td>
				</tr>
		
			</table>
		</div>
	</div>

</div>

{% endblock %}